#menuitm{
    background-color:#f2f2f2;
    height: 100%;
}
#menuitm .btn-group-vertical button{
    background-color: #f2f2f2;
}


.circle .btn-circle{
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 22px;
    border-color: #0d9dfe;
}
