#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-top: 10px;
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #ffffff;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    width: 100%;
}



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
    padding-left: 60px;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}



.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {

}

.btn-menu {
    color: #000;
}

.inset {
    padding: 20px;
}


@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

}

.location_img {
    position: relative;
    left: 0px;
    top: -3px;
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

/*   --------------------------  start chart   -----------------------------   */

.progressDiv {
    width: 84%;
    background: #fcfcfc;
    height: 325px;
    border: 1px solid #ccc;
    position: relative;
    left: 7%;
    top: 100px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 1px #ccc;
}

.statChartHolder {
    width: 35%;
    height: 90%;
    position: relative;
    border-right: 1px solid #ccc;
    top: 15px;
    display: inline-block;
}

.statRightHolder {
    display: inline-block;
    height: 90%;
    width: 64%;
    position: relative;
    top: -32px;
    margin: 0;
}
.statRightHolder ul {
    list-style: none;
    margin: 0;
}
.statRightHolder li {
    border-bottom: 1px solid #ccc;
    height: 85px;
    width: 95%;
    position: relative;
    top: -25px;
}
.statRightHolder h3 {
    display: inline-block;
    margin-right: 15px;
    color: #B6B5B5;
    font-weight: 300;
    font-size: 38px;
}
.statRightHolder span {
    display: inline-block;
    color: #B6B5B5;
    font-size: 21px;
    font-weight: 300;
}

.statsLeft {
    list-style:none;
    display:inline-block;
    width:45%;
}
.statsLeft li {
    width: 100%;
    height: 14px;
    border: none;
    top: 5px;
    margin-bottom: 25px;
}
.statsLeft h3{
    font-size:17px;
    display: inline-block;
}
.statsLeft span{
    font-size: 17px;
    display:inline-block;
}
.statsRight {
    width: 45%;
    display: inline-block;
    position: absolute;
}
.statsRight li {
    width: 100%;
    height: 14px;
    border: none;
    top: 5px;
    margin-bottom: 25px;
}
.statsRight h3{
    font-size:17px;
    display: inline-block;
}
.statsRight span{
    font-size: 17px;
    display:inline-block;
}
/* Pie Chart */

body {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    overflow: hidden;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
.progressDiv {
    width: 84%;
    background: #fcfcfc;
    height: 325px;
    border: 1px solid #ccc;
    position: relative;
    left: 7%;
    top: 100px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 1px #ccc;
}

.statChartHolder {
    width: 35%;
    height: 90%;
    position: relative;
    border-right: 1px solid #ccc;
    top: 15px;
    display: inline-block;
}

.statRightHolder {
    display: inline-block;
    height: 90%;
    width: 64%;
    position: relative;
    top: -32px;
    margin: 0;
}
.statRightHolder ul {
    list-style: none;
    margin: 0;
}
.statRightHolder li {
    border-bottom: 1px solid #ccc;
    height: 85px;
    width: 95%;
    position: relative;
    top: -25px;
}
.statRightHolder h3 {
    display: inline-block;
    margin-right: 15px;
    color: #B6B5B5;
    font-weight: 300;
    font-size: 38px;
}
.statRightHolder span {
    display: inline-block;
    color: #B6B5B5;
    font-size: 21px;
    font-weight: 300;
}

.statsLeft {
    list-style:none;
    display:inline-block;
    width:45%;
}
.statsLeft li {
    width: 100%;
    height: 14px;
    border: none;
    top: 5px;
    margin-bottom: 25px;
}
.statsLeft h3{
    font-size:17px;
    display: inline-block;
}
.statsLeft span{
    font-size: 17px;
    display:inline-block;
}
.statsRight {
    width: 45%;
    display: inline-block;
    position: absolute;
}
.statsRight li {
    width: 100%;
    height: 14px;
    border: none;
    top: 5px;
    margin-bottom: 25px;
}
.statsRight h3{
    font-size:17px;
    display: inline-block;
}
.statsRight span{
    font-size: 17px;
    display:inline-block;
}
/* Pie Chart */
.progress-pie-chart {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
}
.progress-pie-chart.gt-50-1 {
    background-color: #81CE97;
}
.progress-pie-chart.gt-50-2 {
    background-color: #81CE97;
}

.progress-pie-chart.gt-50-3 {
    background-color: #81CE97;
}


.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    background: #b4f50e;
    clip: rect(0, 100px, 200px, 0);
    transform: rotate(60deg);
}


.gt-50-1 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50-2 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50-3 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50-1 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}
.gt-50-2 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}
.gt-50-3 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #1f0019;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.progress-pie-chart {
    margin: 50px auto 0;
}


/*  END  */

#menuitm{
    background-color:#f2f2f2;
    height: 100%;
}
#menuitm .btn-group-vertical button{
    background-color: #f2f2f2;
}


